<a href="https://colab.research.google.com/github/Saz1978/Pandas-Exercises/blob/main/AlcoholexerciseSA.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Ex - GroupBy

### Introduction:

GroupBy can be summarizes as Split-Apply-Combine.

Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

Check out this [Diagram](http://i.imgur.com/yjNkiwL.png)  
### Step 1. Import the necessary libraries

In [1]:
import pandas as pd

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/drinks.csv).

### Step 3. Assign it to a variable called drinks.

In [4]:
drinks = pd.read_csv("https://raw.githubusercontent.com/justmarkham/DAT8/master/data/drinks.csv")
drinks.head(3)

       country  beer_servings  ...  total_litres_of_pure_alcohol  continent
0  Afghanistan              0  ...                           0.0         AS
1      Albania             89  ...                           4.9         EU
2      Algeria             25  ...                           0.7         AF

[3 rows x 6 columns]

### Step 4. Which continent drinks more beer on average?

In [12]:
round(drinks.groupby("continent").beer_servings.mean())

continent
AF     61.0
AS     37.0
EU    194.0
OC     90.0
SA    175.0
Name: beer_servings, dtype: float64

### Step 5. For each continent print the statistics for wine consumption.

In [13]:
drinks.groupby("continent").wine_servings.describe()

           count        mean        std  min   25%    50%     75%    max
continent
AF          53.0   16.264151  38.846419  0.0   1.0    2.0   13.00  233.0
AS          44.0    9.068182  21.667034  0.0   0.0    1.0    8.00  123.0
EU          45.0  142.222222  97.421738  0.0  59.0  128.0  195.00  370.0
OC          16.0   35.625000  64.555790  0.0   1.0    8.5   23.25  212.0
SA          12.0   62.416667  88.620189  1.0   3.0   12.0   98.50  221.0

### Step 6. Print the mean alcoohol consumption per continent for every column

In [14]:
round(drinks.groupby("continent").mean())

           beer_servings  ...  total_litres_of_pure_alcohol
continent                 ...
AF                  61.0  ...                           3.0
AS                  37.0  ...                           2.0
EU                 194.0  ...                           9.0
OC                  90.0  ...                           3.0
SA                 175.0  ...                           6.0

[5 rows x 4 columns]

### Step 7. Print the median alcoohol consumption per continent for every column

In [15]:
round(drinks.groupby("continent").median())

           beer_servings  ...  total_litres_of_pure_alcohol
continent                 ...
AF                  32.0  ...                           2.0
AS                  18.0  ...                           1.0
EU                 219.0  ...                          10.0
OC                  52.0  ...                           2.0
SA                 162.0  ...                           7.0

[5 rows x 4 columns]

### Step 8. Print the mean, min and max values for spirit consumption.
#### This time output a DataFrame

In [23]:
drinks.groupby("continent").spirit_servings.agg(['mean','min','max'])

                 mean  min  max
continent
AF          16.339623    0  152
AS          60.840909    0  326
EU         132.555556    0  373
OC          58.437500    0  254
SA         114.750000   25  302